RAILS_MASTER_KEY=your_rails_master_key
POSTGRES_PASSWORD_PROD=postgres123
FRONTEND_URL=https://pagechat.simongideon.me
APP_HOST=pagechat.simongideon.me
APP_PORT=4000
APP_PROTOCOL=https
RAILS_FORCE_SSL=true

SMTP_ADDRESS=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your@gmail.com
SMTP_PASSWORD=your-app-password
SMTP_AUTHENTICATION=plain
SMTP_STARTTLS=true

AZURE_CONTENT_SAFETY_ENDPOINT=https://bookchat-content-safety.cognitiveservices.azure.com/contentsafety
AZURE_CONTENT_SAFETY_KEY=your-azure-key
